@import "tailwindcss";


@theme {
  --color-primary: rgb(53 61 97); 
  --color-secondary: rgb(236 72 153);
  --color-accent: rgb(57 195 231);
  --color-background: rgb(153, 170, 187);
  --color-foreground: rgb(255, 88, 85);
}

@keyframes puff {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}


/* [data-theme="dark"] {
  --color-primary: rgb(79 70 229);
  --color-secondary: rgb(236 72 153);
  --color-accent: rgb(127 255 212);
  --color-background: rgb(255 255 255);
  --color-foreground: rgb(23 23 23);
} */


/* [data-theme="dark"] {
  --color-primary: #1e293b;
  --accent: #7fffd4;
} */